# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcodeproj/project.pbxproj
.flutter-plugins-dependencies
ios/Flutter/.last_build_id
ios/Runner.xcodeproj/project.pbxproj
ios/build/XCBuildData/0af3d0b86fa762f8c4ad4251a49a5398-buildRequest.json
ios/build/XCBuildData/0af3d0b86fa762f8c4ad4251a49a5398-targetGraph.txt
ios/build/XCBuildData/0d4851542ac2912a0529d3aa6732d35f-buildRequest.json
ios/build/XCBuildData/0d4851542ac2912a0529d3aa6732d35f-targetGraph.txt
ios/build/XCBuildData/0f7fbbeda20f24913854abe7df27ab2c-buildRequest.json
ios/build/XCBuildData/0f7fbbeda20f24913854abe7df27ab2c-targetGraph.txt
ios/build/XCBuildData/08c7c77e1ac8a24f86dbf9d9fb492889-buildRequest.json
ios/build/XCBuildData/08c7c77e1ac8a24f86dbf9d9fb492889-targetGraph.txt
ios/build/XCBuildData/8ee6f245e74a210c7f90578fc5b4ca05-buildRequest.json
ios/build/XCBuildData/8ee6f245e74a210c7f90578fc5b4ca05-targetGraph.txt
ios/build/XCBuildData/52f2d93acb262ac57bd6f7a5d9ff01bd-buildRequest.json
ios/build/XCBuildData/52f2d93acb262ac57bd6f7a5d9ff01bd-desc.xcbuild
ios/build/XCBuildData/52f2d93acb262ac57bd6f7a5d9ff01bd-manifest.xcbuild
ios/build/XCBuildData/52f2d93acb262ac57bd6f7a5d9ff01bd-targetGraph.txt
ios/build/XCBuildData/83dda21931c6ad1b5b21eb06e5c82bd6-buildRequest.json
ios/build/XCBuildData/83dda21931c6ad1b5b21eb06e5c82bd6-targetGraph.txt
ios/build/XCBuildData/88d607992f681f66a98b83a10ba17e6e-buildRequest.json
ios/build/XCBuildData/88d607992f681f66a98b83a10ba17e6e-targetGraph.txt
ios/build/XCBuildData/91fb75ad0bb3c5f19706d491ba89845f-buildRequest.json
ios/build/XCBuildData/91fb75ad0bb3c5f19706d491ba89845f-desc.xcbuild
ios/build/XCBuildData/91fb75ad0bb3c5f19706d491ba89845f-manifest.xcbuild
ios/build/XCBuildData/91fb75ad0bb3c5f19706d491ba89845f-targetGraph.txt
ios/build/XCBuildData/650bd0ebae9dc78c9b5ae12b6aa06d89-buildRequest.json
ios/build/XCBuildData/650bd0ebae9dc78c9b5ae12b6aa06d89-targetGraph.txt
ios/build/XCBuildData/765d7d628a49d0de09de2ffa860e76c2-buildRequest.json
ios/build/XCBuildData/765d7d628a49d0de09de2ffa860e76c2-targetGraph.txt
ios/build/XCBuildData/2720bf79eb04de916ac34b353b964fcf-buildRequest.json
ios/build/XCBuildData/2720bf79eb04de916ac34b353b964fcf-targetGraph.txt
ios/build/XCBuildData/045585fd77a82cb7480b20eb4bedea2e-buildRequest.json
ios/build/XCBuildData/045585fd77a82cb7480b20eb4bedea2e-targetGraph.txt
ios/build/XCBuildData/631737cf3af1809e1dec62462a08d1be-buildRequest.json
ios/build/XCBuildData/631737cf3af1809e1dec62462a08d1be-targetGraph.txt
ios/build/XCBuildData/a8aebe7d162eecf2be7e370311aed753-buildRequest.json
ios/build/XCBuildData/a8aebe7d162eecf2be7e370311aed753-desc.xcbuild
ios/build/XCBuildData/a8aebe7d162eecf2be7e370311aed753-manifest.xcbuild
ios/build/XCBuildData/a8aebe7d162eecf2be7e370311aed753-targetGraph.txt
ios/build/XCBuildData/build.db
ios/build/XCBuildData/BuildDescriptionCacheIndex-3322512995fcdb197ebee57087b66bcb
ios/build/XCBuildData/c4f6e32dbcae784a84089935f39564be-buildRequest.json
ios/build/XCBuildData/c4f6e32dbcae784a84089935f39564be-desc.xcbuild
ios/build/XCBuildData/c4f6e32dbcae784a84089935f39564be-manifest.xcbuild
ios/build/XCBuildData/c4f6e32dbcae784a84089935f39564be-targetGraph.txt
ios/build/XCBuildData/cb18b8b5af944856181e371f1d1f62f6-buildRequest.json
ios/build/XCBuildData/cb18b8b5af944856181e371f1d1f62f6-targetGraph.txt
ios/build/XCBuildData/ded433154d8f9a03e06cfa773cec3b9f-buildRequest.json
ios/build/XCBuildData/ded433154d8f9a03e06cfa773cec3b9f-targetGraph.txt
ios/build/XCBuildData/f6b09c83279ed4b2c240fe2b502cbc6d-buildRequest.json
ios/build/XCBuildData/f6b09c83279ed4b2c240fe2b502cbc6d-targetGraph.txt
ios/build/XCBuildData/fbc1e4a3026f1953d543dacd8c45f255-buildRequest.json
ios/build/XCBuildData/fbc1e4a3026f1953d543dacd8c45f255-targetGraph.txt
.gitignore
ios/Runner/GoogleService-Info.plist
